.otw-game-pause-dialog{
	width: max-content;
	height: min-content;
	margin: var(--modal-margin);
	display: var(--modal-display);
	flex-direction: var(--modal-flex-direction);
	justify-content: var(--modal-justify-content);
	align-items: var(--modal-align-items);
	border: var(--window-border);
	border-radius: var(--window-border-radius);
	box-shadow: var(--modal-box-shadow);
	background-color: var(--window-background-color);
	position: var(--window-position);
	top: var(--modal-position-top);
	bottom: var(--modal-position-bottom);
	left: var(--modal-position-left);
	right: var(--modal-position-right);
	z-index: var(--modal-z-index);
	overflow: var(--modal-overflow);
	opacity: var(--modal-opacity);
	transition: var(--modal-transition);
	user-select: var(--modal-user-select);
	-webkit-user-select: var(--modal-user-select);
	cursor: var(--modal-cursor);
}
.otw-game-pause-dialog-in-use{
	opacity: var(--modal-in-use-opacity);
}
.otw-game-pause-title-bar{
	width: var(--modal-title-bar-width);
	height: var(--modal-title-bar-height);
	margin: var(--modal-title-bar-margin);
	padding: var(--modal-title-bar-padding);
	display: var(--modal-title-bar-display);
	flex-direction: var(--modal-title-bar-flex-direction);
	justify-content: var(--modal-title-bar-justify-content);
	align-items: var(--modal-title-bar-align-items);
	flex-shrink: var(--modal-title-bar-flex-shrink);
	flex-grow: var(--modal-title-bar-flex-grow);
	position: var(--modal-title-bar-position);
	text-align: var(--modal-title-bar-text-align);
	text-align-last: var(--modal-title-bar-text-align-last);
	text-justify: var(--modal-title-bar-text-justify);
	border-bottom: var(--window-border);
	border-top-left-radius: var(--window-border-radius);
	border-top-right-radius: var(--window-border-radius);
	background-color: var(--title-bar-background-color);
}
.otw-game-pause-title-bar::before{
	width: var(--modal-title-bar-before-width);
	height: var(--modal-title-bar-before-height);
	margin: var(--modal-title-bar-before-margin);
	padding: var(--modal-title-bar-before-padding);
	content: var(--modal-title-bar-before-content);
	position: var(--modal-title-bar-before-position);
	top: var(--modal-title-bar-before-position-top);
	left: var(--modal-title-bar-before-position-left);
	right: var(--modal-title-bar-before-position-right);
	border-top-left-radius: var(--window-border-radius);
	border-top-right-radius: var(--window-border-radius);
	box-shadow: var(--title-bar-box-shadow);
}
.otw-game-pause-title{
	padding: var(--modal-title-padding);
	font-size: var(--default-font-size);
	font-family: var(--font-main);
	color: var(--modal-title-color);
	text-shadow: var(--modal-title-text-shadow);
	overflow: var(--modal-title-overflow);
	white-space: var(--modal-title-white-space);
	text-overflow: var(--modal-title-overflow);
}
.otw-game-pause-instructions{
	margin: 0.5rem 1rem;
	color: #696969;
	font-size: var(--default-font-size);
}
.otw-game-resume-button{
	width: var(--button-default-width);
	height: var(--button-default-height);
	margin: 1rem;
	padding: 0 1rem;
	-webkit-appearance: none;
	border: var(--button-border);
	border-radius: var(--button-border-radius);
	box-shadow: var(--button-box-shadow);
	cursor: default;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: var(--default-font-size);
	background: var(--button-background);
	overflow: hidden;
	border-color: #3672B6;
	color: #fff;
	position: relative;
}
.otw-game-resume-button::before{
	background: var(--button-before-background);
	border-radius: var(--button-border-radius);
	content:'';
	width: 95.75%;
	height: 55%;
	margin: 0 auto;
	left: 0;
	position: absolute;
	top: 0.0625rem;
	left: 0;
	right: 0;
}
.otw-game-resume-button:focus-visible{
	outline-offset: 0.0625rem;
	outline-width: 0.1875rem;
	outline-style: solid;
	outline-color: #4D93E2;
}
