.lock-screen{
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-color: black;
	opacity: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 200;
	transition: opacity 500ms;
}
.lock-screen-in-use{
	opacity: 1;
}
.background-loading-spinner-login{
	width: 10vw;
	height: 10vw;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.background-image-login{
	width: 100vw;
	height: 100vh;
	margin: 0;
	object-fit: cover;
	/* position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; */
}
.background-image-credit-container-login{
	height: min-content;
	width: max-content;
	color: black;
	background-color: #ffffff9e;
	position: absolute;
	right: 0.125rem;
	bottom: 0;
	border: 0.125rem solid transparent;
	border-top-left-radius: 0.25rem;
}
.background-image-credit-text-login{
	height: min-content;
	width: max-content;
	font-size: 0.8rem;
}
.background-image-credit-link-login{
	color: black;
}
#lockscreen-form{
	width: 30rem;
	height: 22.5rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #F6F6F6;
	border: var(--window-border);
	border-radius: 0.2rem;
	box-shadow: var(--modal-box-shadow);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#lockscreen-form-pear-icon{
	width: auto;
	height: 5rem;
	margin: 1.75rem 0 0 0;
}
#lockscreen-form-header{
	margin: 0.5rem 0 0 0;
	font-size: 1.75rem;
	font-family: 'Lucida Grande', 'Helvetica', 'Arial';
	color: #545459;
}
#lockscreen-inputs-container{
	width: 27.5rem;
	height: 7.5rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #EBEBEB;
	border-radius: 0.25rem;
	box-shadow: #D8D8D8 0 0 0.125rem 0.125rem inset;
}
.lockscreen-input-label-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.lockscreen-input-label{
	font-size: 0.6rem;
	font-weight: 500;
	font-family: 'Lucida Grande', 'Helvetica', 'Arial';
	color: #545459;
}
.lockscreen-input{
	height: 1.3rem;
	margin: 0.25rem;
	padding: 0 0.25rem;
	border: transparent;
	border-radius: 0.2rem;
	box-shadow: #D8D8D8 0 0 0.125rem 0.125rem inset;
	font-size: 0.6rem;
	font-weight: 500;
	font-family: 'Lucida Grande', 'Helvetica', 'Arial';
	color: #545459;
}
.lockscreen-input:focus{
	outline: 0.125rem solid #018DE7;
	outline-offset: -0.125rem;
}
.lockscreen-input:focus-visible{
	outline: 0.125rem solid #018DE7;
	outline-offset: -0.125rem;
}
.lockscreen-message{
	height: 0.5rem;
	margin: 0 0 0 0;
	font-size: 0.6rem;
	opacity: 0;
	transition: opacity 500ms;
}
.lockscreen-message-show{
	opacity: 1;
}
#lockscreen-form-button-set-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.lockscreen-button-label-container{
	margin: 0 1rem;
}
.lockscreen-button{
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--button-border);
	border-radius: 100%;
	box-shadow: inset #d1d1d1 0 0 0.125rem 0.0625rem;
	background-color: #F6F6F6;
}
.lockscreen-button-label{
	margin: 0.5rem 0;
	font-size: 0.65rem;
	font-family: 'Lucida Grande', 'Helvetica', 'Arial';
	color: #545459;
}
#sleep-icon{
	width: 1rem;
}
#restart-icon{
	width: 1.25rem;
}
#shutdown-icon{
	width: 1rem;
}
#home-icon{
	width: 1.25rem;
}
